/* https://stackoverflow.com/a/74494158 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* input/button corner rounding helpers */
div.input-group > :is(input, button):first-child {
    @apply rounded-l-lg rounded-r-none;
}
div.input-group > :is(input, button):last-child {
    @apply rounded-r-lg rounded-l-none;
}
div.input-group > :is(input, button):not(:first-child):not(:last-child) {
    @apply rounded-none;
}
